[submodule "IsaacGymEnvs"]
	path = thirdparty/IsaacGymEnvs
	url = https://github.com/NVIDIA-Omniverse/IsaacGymEnvs.git
[submodule "manotorch"]
	path = thirdparty/manotorch
	url = https://github.com/lixiny/manotorch.git
[submodule "chumpy"]
	path = thirdparty/chumpy
	url = https://github.com/mattloper/chumpy.git
